<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="PicoScope" value="4" />
    </switches>
  </system.diagnostics>

  <appSettings>
		<add key="Language" value="fr-FR"/>
  </appSettings>

</configuration>

